# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# Virtual environments
.venv/
.env/
*.env

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Tools
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Linting and formatting
.ruff_cache/
.black/

# Logs
logs/
*.log
